@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'comfortaa';
    src: url(./fonts/Comfortaa-VariableFont_wght.ttf);
}

body {
    font-family: roboto;
}

h1 {
    font-family: comfortaa;
    margin: 0px;
    padding: 20px 0px;
    color: #da7635;
}

h2 {
    margin: 0px;
    padding-top: 20px;
    color: #da7635;
}

h3 {
    display: inline-block;
    margin: 10px 0px;
    border-bottom: 2px solid #da7635;
}

ul {
    list-style: "🔸 ";
}

input,
textarea {
    font-family: roboto;
    border: 2px solid #da7635;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: medium;
    resize: none;
}

input:focus,
textarea:focus {
    outline: 3px solid #febd4d;
    border: 2px solid white;
}

form {
    margin: 20px 0px;
    border: 2px solid #da7635;
    border-radius: 10px;
}

button {
    width: 30%;
    height: 30px;
    margin: 20px;
    background-color: #fce199;
    border: 2px solid #da7635;
    color: #da7635;
    border-radius: 10px;
    transition-duration: 0.2s;
}

button:hover {
    transition-duration: 0.2s;
    border: 2px solid #fce199;
    background-color: #febd4d;
}

button:active {
    transition-duration: 0.1s;
    border: 2px solid #febd4d;
    background-color: #da7635;
    color: #febd4d;
}

.container {
    width: 70%;
    margin: auto;
}

.coloredBackground {
    background-color: #fce199;
    height: 150px;
}

/******* HEADER *******/
#header ul {
    padding-left: 0px;
}

#header li {
    display: inline-block;
}

.menuLink {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #da7635;
    color: #da7635;
    transition-duration: 0.2s;
}

.menuLink:hover {
    background-color: #febd4d;
    border: 2px solid #fce199;
    color: #da7635;
    transition-duration: 0.2s;
}

/******* RECIPE CREATOR *******/
.creator {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    padding: 3%;
}

.creator label {
    display: block;
    color: #da7635;
    font-size: 1.25rem;
}

/******* DOCUMENTATION *******/
#documentation {
    display: block;
}

/******* FOOTER *******/
#footer a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #da7635;
    color: #da7635;
    transition-duration: 0.2s;
}

#footer a:hover {
    border: 2px solid #fce199;
    background-color: #febd4d;
    color: #da7635;
    transition-duration: 0.2s;
}

#footer p {
    padding-top: 60px;
}

/******* RECIPE *******/
.recipeButton {
    font-weight: bold;
}

#delete {
    font-weight: bolder;
    background-color: #d9534f;
    color: white;
    border-color: black;
    transition-duration: 0.2s;
}

#delete:hover {
    background-color: #b44444;
    color: whitesmoke;
    transition-duration: 0.2s;
}

#delete:active {
    background-color: black;
    color: white;
    transition-duration: 0.2s;
}
